@keyframes slowFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.pageMain {
    animation: slowFadeIn 4s;
}
@media screen and (min-width: 750px) {
    .pageMain {
        display: flex;
        flex-direction: row;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 749px) {
    .pageMain {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
}
