.mainHeader {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 5%;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 1px solid #3b0747;
    margin-bottom: 20px;
}

.logo {
    width: 50px;
    height: 50px
}
.logo:hover {
    cursor: pointer;
}

.toProfile {
    width: 130px;
    height: 50px;
}
@media screen and (max-width: 496px) {
    .toProfile#iconOverlayOpen_true {
        margin-bottom: 15px;
    }
}

.gearIcon {
    width: 40px;
    height: 40px;

    border-radius: 50%;
}
.gearIcon:hover {
    cursor: pointer;
}

.iconOverlay {
    display: flex;
    align-items: center;
    gap: 20px;
}
