.subHeading {
    display: flex;
    justify-content: center;
    margin: 0;
}

@media screen and (min-width: 550px) {
    .scrollNote {
        display: none;
    }
}

#footerNote {
    margin-bottom: 30px;
}

@media screen and (min-width: 550px) {
    .columns {
        border-top: 1px solid white;
        border-left: 1px solid white;
        border-bottom: 1px solid white;
        display: grid;
        grid: repeat(1, auto) / auto-flow auto;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 549px) {
    .columns {
        display: flex;
        flex-flow: column;
        gap: 30px;
    }
}

.column {
    height: 500px;
    border-right: 1px solid white;
}

@media screen and (max-width: 549px) {
    .column {
        border-top: 1px solid white;
        border-left: 1px solid white;
        border-bottom: 1px solid white;
    }
}

.columnHeader {
    margin: 0;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid white;
}

.columnContent {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 30px;
    padding: 20px 0 20px 0;
}

#clipsColumnContent {
    height: 80%;
    overflow: scroll;
}
