.blogCard {
    width: 200px;
    height: 70px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    border: 1px solid #3b0747;
    border-radius: 3px;
}

.clipCard {
    width: 200px;
    min-height: 300px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    border: 1px solid #3b0747;
    border-radius: 3px;
}
