.ClipsPostCard {
    width: 200px;
    min-height: 300px;
    border: 1px solid #3b0747; border-radius: 3px;
}

.BlogsPostCard {
    width: 300px;
    min-height: 300px;
    border: 1px solid #3b0747; border-radius: 3px;
}

.ClipsPostCardEmbed {
    margin-top: 20px;
    width: 150px;
    height: 200px;
    object-fit: cover;
    border: 1px solid #3b0747;
    border-radius: 3px;
}

.BlogsPostCardEmbed {
    margin-top: 20px;
    width: 200px;
    height: 150px;
    object-fit: cover;
    border: 1px solid #3b0747;
    border-radius: 3px;
}

[class$="PostCard"] {
    transition: 0.5s;
}
[class$="PostCard"]:hover {
    box-shadow: 1px 1px 25px 7px rgba(59, 7, 71, 0.75);
    -webkit-box-shadow: 1px 1px 25px 7px rgba(59, 7, 71, 0.75);
    -moz-box-shadow: 1px 1px 25px 7px rgba(59, 7, 71, 0.75);
}

.postRedirect {
    color: rgba(255, 255, 255, 0.87)
}

.deletePostButton, .likeButton {
    width: 20px;
    height: 20px;
    padding: 2px;
    transition: 0.5s ease-in-out;
}
.deletePostButton:hover, .likeButton:hover {
    border: 1px solid #3b0747;
    border-radius: 5px;
}
