.ClipsPostCard {
    width: 200px;
    min-height: 300px;
    border: 1px solid #3b0747; border-radius: 3px;
}

.BlogsPostCard {
    width: 200px;
    height: 100px;
    border: 1px solid #3b0747; border-radius: 3px;
}
