.profileHead {
    width: 90vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
    border-bottom: 1px solid #3b0747;
}

.profilePicture {
    width: 150px;
    height: 150px;

    border: 1px solid #3b0747; border-radius: 3px;
    border-radius: 50%;
}

.contentButtons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 50px;
}

.contentButton {
    padding: 3px;
    transition: 0.5s ease-in-out;
}
.contentButton:hover {
    cursor: pointer;
    border: 1px solid #3b0747; border-radius: 3px;
    border-radius: 3px;
}
